<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.nicolashoareau_toulousewcs.appliwcsprojet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_wcs_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_wcs_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="fr.nicolashoareau_toulousewcs.appliwcsprojet.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ConnexionActivity" />
        <activity android:name=".activity.InscriptionActivity" />
        <activity android:name=".activity.MenuActivity" />
        <activity android:name=".activity.CreateRequestActivity" />
        <activity android:name=".activity.ProfilActivity" />
        <activity
            android:name=".activity.OubliePasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.CreateProfilActivity" />
        <activity android:name=".activity.CreatePostActivity" />
        <activity android:name=".activity.ChatActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:name=".activity.WildersActivity"></activity>
    </application>

</manifest>